/*================================ Top Navigation ===============================================*/
.scroll {
  display: flex;
  position: fixed;
}

nav#navigation {
  display: flex;
  position: absolute;
  height: 80px;
  top: 0;
  width: 100vw;
  background-color: var(--bg-color-2);
  align-items: center;
  justify-content: space-between;
}

nav#navigation .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav#navigation .container button {
  z-index: 2;
  background-color: transparent;
  border: none;
}
  
nav#navigation .menu-options {
  display: none;
}

nav#navigation .active_menu {
  display: flex;
  position: fixed;
  right: 0;
}
  
#navigation li {
  display: flex;
  justify-items: center;
}
  
#navigation ul li a{
  text-decoration: none;
  color: var(--nav-default-color);  
}